#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.user-header-card {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
}

.user-header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uh-left-division {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.uh-right-division {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}

.target-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.target-square {
  background-color: coral;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}


.cals-left {
  font-size: 2rem;
  font-weight: bold;
}

.cl-red {
  color: red
}

.cl-green {
  color: green
}

.cl-purple {
  color: purple
}

/* .expandedlog {} */

.el-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.el-card {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: brown;
}

/* .food-card-container {} */

.food-card {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.food-card-left {
  margin-right: 20px;
}

.food-card-right {
  flex-grow: 1;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;

}

.navbar a:hover {
  color: darkred;
}

.logged-in-as {
  background-color: burlywood;
}

.lia-header {
  text-align: center;
}

.lia-dropdown {
  display: block;
  margin: 10px auto
}

.lia-save-button {
  display: block;
  margin: 10px auto;
}