#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-header-card {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
}

.user-header-body {
  display: flex;
  justify-content: space-between;
}

.left-division {
  display: flex;
  flex-direction: column;
}

.right-division {
  display: flex;
  flex-direction: column;
}

.user-image {}

.target-grid {
  display: grid;
}

.target-square {
  background-color: blueviolet;
}